$mediaHeaderWrap: 892px;

.ContentHeader {
    width: 100%;
    &__desc {
        &__title {
            font-weight: bold;
            font-size: 2.1875rem;
            margin-bottom: 5px;
            line-height: 40px;

        }

        &__subtitle {
            margin-top: 0;
            color: rgb(63, 63, 63);
            font-weight: 400;
            font-size: 1.25rem;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $mediaHeaderWrap) {
            & {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 30px;
            }
        }

        &__filters {
            margin-bottom: 20px;
            display: flex;
            flex-direction: row;

            input,
            p {
                display: inline-block;
            }

            input,select{
                margin-left: 10px;
                margin-top: 10px;
            }

            p:not(:first-child){
                margin-left: 10px;
            }

            @media (max-width: $mediaHeaderWrap) {
                & {
                    flex-direction: column;
                }
                
                p{
                    margin: 0 !important;
                }

                input,
                select {
                    margin-left: 0;
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}