.form-white {
    padding: 4px 15px 0px 15px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.048);
    border-radius: 10px;
    width: 150px;
    font-size: 0.9375rem;
    font-weight: 300;

    &.bordered {
        border: 0.5px solid rgba(110, 110, 110, 0.295);
    }

    &.w-100{
        width: calc(100% - 15px);
    }

    &:focus{
        border: 1.5px solid rgba(40, 161, 231, 0.315);
        box-shadow: 1px 1px 2px rgba(22, 165, 201, 0.178);
    }

}

input.form-white, select.form-white{
    height: 40px;
}

textarea.form-white{
    height: 100px;
}

.form-group {
    margin-bottom: 20px;
    
    .form__caption {
        padding: 18px 26px;
        .form__caption__title {
            font-size: 1.4375rem;
            margin: 0;
            padding: 0;

            i{
                margin-right: 10px;
            }
        }

        .form__caption__sub__title {
            font-size: 1.4375rem;
            margin: 0;
            padding: 0;
        }
    }

    .form__content {
        padding: 18px 26px;
    }
}

.input-group {
    padding: 4px 0;
    margin-bottom: 10px;

    .input__title {
        color: rgb(116, 116, 116);
        padding-bottom: 10px;
        font-size: 1rem;
        display: block;

        label i{
            margin-right: 10px;
        }
    }
}