.HomeAction{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    flex: 1 0 48%;
    max-width: 48%;
    margin: 0px 0px 50px 0px;
    height: 300px auto;
    transition: all 0.2s ease-in;
    font-size: 14px;
    @include card();
    
    @media (max-width: $breakpointSM) {

        &{
            font-size: 12px;
            flex: 1 0 100%;
            max-width: 100%;
            margin-bottom: 65px;
        }
    }

    &::after{
        content: '';
        width: 3px;
        height: 60%;
        position: absolute;
        background-color: $main-green;
        z-index: 1;
        top: 20%;
        left: -2px;
    }

    &:hover{
        transform: scale(1.02);
    }

    &__icon{
        background-color: $main-green;
        width: 20%;
        height: 40%;
        border-radius: 2px;
        position: absolute;
        left: 6%;
        top: -20%;
        color: #fff;
        font-size: 1.875rem;
        box-shadow: 1px 1px 10px rgba(4, 59, 9, 0.11);
        
        .icon{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease-in;
        }
    }

    &__desc{
        max-width: 75%;
        padding-left: 30px;
        padding-top: 50px;

        &__title{
            font-weight: 700;
            font-size: 1.8em;
            line-height: 1.2em;
            margin: 0;
            color: rgb(63, 63, 63);
        }
        &__subtitle{
            color: rgb(158, 158, 158);
            margin-top: 2px;
            font-weight: 400;
            font-size: 1.1em;
            line-height: 1.3em;
        }
    }
    
    &__btn{
        position: relative;
        height: 100%;
        width: 15%;
        background-color: $main-green;
        transition: all 0.2s ease-in;
        color: #fff;
        font-size: 2em;

        i{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.2s ease-in;
        }

        &:hover{
            background-color: lighten($main-green, 10);
            i{
                left: 60%;
            }
        }
    }
}