.NavUser {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: rgb(62, 63, 63);
    transition: all 0.3s;

    &:hover {
        color: rgb(97, 99, 100);
    }

    img {
        margin-right: 4px;
        height: 40px;
        width: 40px;
        object-fit: contain;
        border-radius: 2px;
    }

    .NavUser__name {
        font-size: 1.0625rem;
        font-weight: 600;
        color: inherit;
        padding-top: 10px;
    }

    .dropdown {
        width: 230px;

        li {
            padding: 18px 20px;
        }

        @media only screen and (max-width: $mediaXS) {
            & {
                left: -50%;
            }
        }
    }
}