.collapse-group {
    @include card();

    .collapse__header {
        width: 100%;
        border-bottom: 1px solid #0000;
        background-color: $main-blue;
        color: #ffff;
        text-transform: uppercase;
        letter-spacing: -0.0625rem;
        padding: 14px 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &__toggler {
            font-size: 2.5rem;
        }
        
        &:hover{
            background-color: darken($main-blue, 15);
        }
    }

    .collapse__content {
        overflow: hidden;
        height: auto;
        max-height: 9999px;
        padding: 18px 26px;
        transition: max-height 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);

        &.collapsed {
            max-height: 0;
            padding: 0;
            transition: max-height 0.8s cubic-bezier(0.075, 0.82, 0.165, 1), padding 2s;
        }
    }
}