//Import Variables //
@import './variables/__all';

// Import Utils //
@import  './util/__all';

//Import Mixins //
@import './mixins/__all';

// Import Components //
@import './components/__all';

//Import Containers //
@import './containers/__all';

//import Slick Carousel //
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";



body {
    margin: 0;
    background-color: rgb(230, 230, 230);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (max-width: $breakpointSM) {
        cursor: pointer;
    }

}

.MainContent{
    margin-top: 80px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}